<md-toolbar color="primary">
 Iteneray Reccommendations
  <span class="app-toolbar-filler"></span>

    <md-toolbar-actions>
         <md-icon routerLink="/home" class="app-icon-home" md-list-avatar >home</md-icon>
         <md-icon class="app-icon-home" md-list-avatar >face</md-icon>
         <md-icon class="app-icon-home" md-list-avatar >terrain</md-icon>

         <md-icon md-list-avatar>settings applications</md-icon>
                        
    </md-toolbar-actions>
   
</md-toolbar>


<router-outlet></router-outlet>
