
<!--   create desired itinerary   -->

<div class="desired_destination">
<md-card>
		<md-card-content>
              
			<p class = "desired_topic">Create itenery For Desired Destination</p>         
          
        </md-card-content>
      </md-card>

<md-grid-list cols="4" aria-rowspan="0">
  
   <md-grid-tile>
	 <md-input placeholder="Destination">
              <span md-prefix>
                <i class="material-icons">search</i>
              </span>
       </md-input>
   </md-grid-tile>
   
   <md-grid-tile>

   <!--  <md-input placeholder="Depart">
              <span md-prefix>
               <i class="material-icons">date_range</i>
              </span>
            </md-input>       
    -->
     <p> Depart <input type="date" name="depart" id="depart"> </p>
     
   </md-grid-tile>
   
   <md-grid-tile>
       <p> Return <input type="date" name="return" id="return"> </p>

   </md-grid-tile>
   
   <md-grid-tile>
	 <button md-raised-button color= #99ff99 style="align:left">
                     Create Itineray 
	 </button>
   </md-grid-tile>
  
</md-grid-list>

</div>