<!--   itinerary view in home page  -->


<md-grid-list cols="4" >

  <md-grid-tile colspan="4">

                      <md-toolbar color="primary">Current Location</md-toolbar>
                   
                  
   </md-grid-tile>

   <md-grid-tile>
     <md-card>

                <md-card-header>
                    <img md-card-avatar src="http://i64.tinypic.com/k11f7.jpg">
                      <md-card-title>Header title</md-card-title>
                       <md-card-subtitle>Header subtitle</md-card-subtitle>
                      </md-card-header>

                      <img md-card-image src="http://i64.tinypic.com/k11f7.jpg">
                      <md-card-content>
                         
                    <a href="#popup1">  <button class="current_location">View more</button> </a>
                    <a href="#popup2">  <button class="current_location">Pin itinerary</button> </a>
                      
                   </md-card-content>
          </md-card>
		</md-grid-tile>
		
		<md-grid-tile>
      <md-card>
                      <md-card-header>
                          <img md-card-avatar src="http://i64.tinypic.com/k11f7.jpg">
                          <md-card-title>Header title</md-card-title>
                          <md-card-subtitle>Header subtitle</md-card-subtitle>
                      </md-card-header>

                      <img md-card-image src="http://i64.tinypic.com/k11f7.jpg">
                      <md-card-content>
                    <a href="#popup1">  <button class="current_location">View more</button> </a>
                    <a href="#popup2">  <button class="current_location">Pin itinerary</button> </a>
                      </md-card-content>
                    </md-card>
		</md-grid-tile>
		
		<md-grid-tile><md-card>

                      <md-card-header>
                          <img md-card-avatar src="http://i64.tinypic.com/k11f7.jpg">
                          <md-card-title>Header title</md-card-title>
                          <md-card-subtitle>Header subtitle</md-card-subtitle>
                      </md-card-header>

                      <img md-card-image src="http://i64.tinypic.com/k11f7.jpg">
                      <md-card-content>
                    <a href="#popup1">  <button class="current_location">View more</button> </a>
                    <a href="#popup2">  <button class="current_location">Pin itinerary</button> </a>
                      </md-card-content>
                    </md-card>
		</md-grid-tile>
		
		<md-grid-tile><md-card>

                      <md-card-header>
                          <img md-card-avatar src="http://i64.tinypic.com/k11f7.jpg">
                          <md-card-title>Header title</md-card-title>
                          <md-card-subtitle>Header subtitle</md-card-subtitle>
                      </md-card-header>

                      <img md-card-image src="http://i64.tinypic.com/k11f7.jpg">
                      <md-card-content>
                    <a href="#popup1">  <button class="current_location">View more</button> </a>
                    <a href="#popup2">  <button class="current_location">Pin itinerary</button> </a>
                      </md-card-content>
                    </md-card>
		</md-grid-tile>
		
   
</md-grid-list>

